<aside class="sidebar" [class.expanded]="isExpanded">
  <div class="sidebar__top">

    <div class="sidebar__item" matRipple (click)="dashbooardClicked()">
      <mat-icon *ngIf="!isExpanded">directions_car</mat-icon>
      <span class="sidebar__label" *ngIf="isExpanded">Dashboard</span>
    </div>

    <div class="sidebar__item" *ngIf="role === 'admin' || role === 'operator'" matRipple (click)="vehiclesClicked()">
      <mat-icon *ngIf="!isExpanded">build</mat-icon>
      <span class="sidebar__label" *ngIf="isExpanded">Vehicles</span>
    </div>

  </div>
  <div class="sidebar__bottom">
    <button mat-icon-button class="sidebar__menu-btn" type="button" (click)="toggleSidebar()">
       <span class="mat-mdc-button-touch-target"></span>
      <mat-icon>{{ isExpanded ? 'chevron_left' : 'chevron_right' }}</mat-icon>
    </button>
  </div>
</aside>
