.sidebar {
  width: 70px;
  height: 85dvh;   // en güvenli ekran yüksekliği
  max-height: 100dvh;
  background: #0F766E;
  border-right: 1px solid #0F766E;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: width 0.25s ease-in-out;
  padding: 12px 0;
  overflow: hidden;

  &.expanded {
    width: 120px;
  }

  &__top {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &__bottom {
    padding-bottom: 12px;
    display: flex;
    justify-content: center;
  }

  &__menu-btn {
    mat-icon {
      color: #ffffff;
      font-size: 28px;
    }

    &:hover mat-icon {
      color: #0c5e58;
      transform: scale(1.1);
    }

  }

  &__item {
    display: flex;
    align-items: center;
    padding: 12px 16px;
    cursor: pointer;
    gap: 16px;
    transition: background-color 0.2s ease, transform 0.15s;

    mat-icon {
      font-size: 26px;
      color: #ffffff;
    }

    &:hover {
      background:ffffff;
      transform: translateX(12px);
    }
  }

  &__label {
    font-size: 18px;
    font-weight: 500;
    white-space: nowrap;
    color: #ffffff;
  }
}
