@use '../../../styles/variables' as *;

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 60px;
  background: $primary-color;
  color: white;
  padding: 1rem 0;

  &__top, &__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}
