.main-layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background: var(--layout-bg);

  &__mid {
    display: flex;
    flex: 1;
    overflow: hidden;
  }

  &__content-wrapper {
    flex: 1;
    overflow-y: auto;
    background: var(--content-bg);
    padding: 16px;
  }

  &__footer-band {
    background-color: var(--footer-band-bg);
    height: 10px;
    width: 100%;
  }
}
