@use '../../../styles/variables' as *;

.vehicles-page {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;


  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
      font-size: 24px;
      font-weight: 600;
      margin: 0;
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 12px;

    &__search-input {
      padding: 6px 12px;
      border: 1px solid #ccc;
      border-radius: 6px;
      min-width: 200px;
      font-size: 14px;
    }

    &__button{
      background: none;
      border: none;
      font-size: 18px;
      cursor: pointer;
      padding: 6px;
      border-radius: 6px;
      transition: 0.2s;

      &:hover {
        background: #f1f3f5;
      }
    }


  }

    /* TABLE */
  .vehicles-table {
    background: white;
    border-radius: 8px;
    padding: 12px;
    border: 1px solid #eee;

    table {
      width: 100%;
      border-collapse: collapse;
      font-size: 14px;
    }

    thead {
      background: #fafafa;

      th {
        text-align: left;
        padding: 12px 8px;
        font-weight: 600;
        border-bottom: 1px solid #e2e2e2;
      }
    }

    tbody {
      tr {
        border-bottom: 1px solid #eaeaea;

        &:hover {
          background: #f7f9fb;
        }

        td {
          padding: 10px 8px;
          vertical-align: middle;
        }
      }
    }
  }
}

