@use '../../../styles/variables' as *;

.app-header {
  background-color: $accent-color;
  color: $light-text;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: $shadow-soft;

  &__right {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .guest-badge {
    background: $primary-color;
    color: $light-text;
    padding: 0.3rem 0.8rem;
    border-radius: 4px;
    font-size: 0.85rem;
  }
}
