<header class="app-header">
  <h1>{{ title }}</h1>

  <div class="app-header__right">

    <!-- THEME TOGGLE -->
    <button
      mat-icon-button
      class="theme-toggle"
      (click)="toggleTheme()"
      aria-label="Toggle theme"
    >
      <mat-icon>
        {{ themeService.currentTheme === 'dark' ? 'light_mode' : 'dark_mode' }}
      </mat-icon>
    </button>

    <ng-container *ngIf="userRole">
      <span class="guest-badge">{{ userRole | titlecase }} Mode</span>
        <button
          mat-icon-button
          color="primary"
          matTooltip="Logout"
          aria-label="Logout"
          (click)="logout()"
        >
          <mat-icon>logout</mat-icon>
        </button>
    </ng-container>

  </div>
</header>
