@use '../../../styles/mixins' as *;

// ======================================
// LOGIN PAGE STYLES (THEME READY)
// ======================================

.login-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--color-bg);
  overflow: hidden;

  &__main {
    @include flex-center;
    flex: 1;
  }

  &__card {
    width: 350px;
    padding: 2rem;
    background: var(--color-surface);
    border-radius: var(--radius-base);
    box-shadow: var(--shadow-soft);

    @include respond-to(sm) {
      width: 90%;
      padding: 1.5rem;
    }
  }

  &__welcome {
    margin-bottom: 0.3rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--color-text);
  }

  &__subtitle {
    margin-bottom: 1.5rem;
    color: var(--color-neutral-dark-50);
    font-size: 0.9rem;
  }

  &__field {
    width: 100%;
    margin-bottom: 1rem;

    ::ng-deep .mat-mdc-select-value .mat-mdc-select-value-text span {
      padding-left: 8px !important;
    }

    ::ng-deep .mat-mdc-form-field-infix {
      padding-left: 8px !important;
    }
  }

  &__button {
    width: 100%;
    margin-top: 0.8rem;
    transition: 0.2s ease;

    &--primary {
      background-color: var(--color-primary) !important;
      color: var(--color-neutral-light-50) !important;

      &:hover {
        background-color: var(--color-primary-dark);
      }
    }

    &--secondary {
      border-color: var(--color-primary);
      color: var(--color-primary);

      &:hover {
        background-color: var(--color-tertiary);
      }
    }
  }

  &__footer {
    background-color: var(--color-footer-accent);
    height: 20px;
    width: 100%;
  }
}
